dash
pillow
torch
torchvision
langchain>=0.0.310
sentence-transformers>=2.2.2
numpy>=1.24.0
scikit-learn>=1.2.0
pandas>=2.0.0
faiss-cpu>=1.7.4 
transformers>=4.30.0 
tiktoken>=0.5.1  
nltk>=3.8  
pypdf>=3.15.1  
accelerate==1.7.0